@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{
  /* font-family: Barlow; */
  font-family:Nanum;
}
#app{
  max-width: 428px;
  /* background-color: rgb(0, 0, 0); */
}
#modal-cart{
  width:426px;
  background-color: rgba(0,0,0,0.5);
}
#cart{
  width:426px;
  
  /* width: inherit; */
  /* width: 100%; */
}
#footer-menu{
  width: 426px;
  /* cursor: po; */
}
/* #seeBrand-part-home::-webkit-scrollbar{
  display: none;
} */
.show-slider1{
  animation: change3 0.5s linear
}
.show-slider2{
  animation: change2 0.5s linear;
}
.show-slider3{
  animation: change3 0.5s linear;
}
.show-slider4{
  animation: change4 0.5s linear;
}
.show-slider5{
  animation: change5 0.5s linear;
}
.show-slider6{
  animation: change6 0.5s linear;
}
@keyframes change3 {
    0% {
      transform: translatex(-300px);
    }
    100% {
        transform: translatex(0px);;
      }
    }
@keyframes change2 {
    0% {
      transform: translatex(-300px);
    }
    100% {
      transform: translatex(0px);;
    }
}
@keyframes change3 {
  0% {
    transform: translatex(-300px);
  }
  100% {
    transform: translatex(0px);;
  }
}
@keyframes change4 {
  0% {
    transform: translatex(-300px);
  }
  100% {
    transform: translatex(0px);;
  }
}
@keyframes change5 {
  /* product-details */
  0% {
    transform: translatex(-500px);
  }
  100% {
    transform: translatex(0px);;
  }
}
@keyframes change6 {
  /* product-details */
  0% {
    transform: translatex(-500px);
  }
  100% {
    transform: translatex(0px);;
  }
}

/* body{
  background-color: rgb(211, 204, 204);
}
#app{
  max-width: 320px;
  background-color: white;
  min-height: 550px;
  margin: 0 auto;
  display: flex;
  border: 2px solid rgb(129, 118, 118);
  border-radius: 5px;
}
.pg1-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pg1-1-logo{
  display: flex;
  justify-content: center;
  margin-block: auto;
}
.pg1-1-logo>h1{font-size: 50px;}
.pg1-1-logo>img{
  width: 50px;
  height: 40%;
  margin-block: auto;
}
.pg1-1-load{
  display: flex;
  justify-content: center;
  align-content: end;
  align-items: end;
  margin-bottom: 20%;
  font-size: 40px;
}
.pg1-1-load>i{
  animation: load 1.3s linear infinite;
}
@keyframes load {
  from {rotate: 0deg;}
  to {rotate:360deg;}
} */